.cursor-move        { cursor: move !important; }
.cursor-grab        { cursor: grab !important; }
.cursor-no-drop     { cursor: no-drop !important; }
.cursor-pointer     { cursor: pointer !important; }
.cursor-grabbing    { cursor: grabbing !important; }
.cursor-not-allowed { cursor: not-allowed !important; }

.pointer-events-none {
  pointer-events: none;
}

.undefined,
.null,
.true,
.false {
  padding: 10px;
  border: 3px dashed #ff0000 !important;
}
