.app-tabs {
  .nav-link {
    height: 100%;
    color: $white;
    border-radius: 0;
    padding: 10px 20px;
    pointer-events: all;
    border: 1px solid $primary;
    background-color: $primary;
    transition: all .2s ease-in;

    &.active {
      color: $primary;
      background-color: $warning;
      border: 1px solid $warning;
    }

    &:hover {
      color: $primary;
      background-color: darken($warning, 7.5%);
      border: 1px solid darken($warning, 10%);;
    }
  }
}

.skew-outer {
  transform: skew(-40deg);
}

.skew-inner {
  transform: skew(40deg);
}
